<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--每一个类型的对象在这个配置文件中，都是一个bean节点-->
    <bean id="/xxx" class="cn.mvc.day01.FirstController"></bean>
</beans>